@import url('https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap');

h1{
  font-weight: bold;
  font-size: 2.5em;
}
div{
  display:flex;
  flex-flow: column;
  align-items: center;
  padding-top: 5%;
  font-family: 'Comic Neue', cursive;
  font-weight: bold;
}
form{
  width: 75%;
  display:flex;
  flex-flow: column;
  border: 5px black solid;
  padding: 5%;
  background-color: #CC2C00
}

label{
  padding:2%;
}